NATS_URL=nats://127.0.0.1:4222
TICKFLOW_TICKER_SUBJECT=tickflow.market.ticker
TICKFLOW_OPPORTUNITY_SUBJECT=tickflow.scanner.opportunities
TICKFLOW_TRADE_RESULT_SUBJECT=tickflow.execution.results
MONGODB_URL=mongodb://127.0.0.1:27017
MONGODB_DATABASE=tickflow
MONGODB_COLLECTION=system_state
